<mat-form-field class="fieldContainer">
  <mat-label>{{ inputTitle }}</mat-label>
  <textarea
    #newItem
    matInput
    cdkTextareaAutosize
    [(ngModel)]="someText"
    (ngModelChange)="changeInput(newItem.value)"
    #autosize="cdkTextareaAutosize"
    cdkAutosizeMinRows="1"
    cdkAutosizeMaxRows="5"
  ></textarea>
  <button
    mat-button
    *ngIf="someText"
    matSuffix
    mat-icon-button
    aria-label="Clear"
    (click)="clearString('')"
  >
    <mat-icon aria-hidden="false" aria-label="icon">close</mat-icon>
  </button>
</mat-form-field>
