<div mat-dialog-content class="rowed">
  <div class="marginRight">
    <h1>Update Offer:</h1>

    <app-input
      inputTitle="Title"
      [currentValue]="title"
      (onChangeInput)="onChangedInput($event, 'title')"
    ></app-input>

    <app-input
    inputTitle="Picture url"
    [currentValue]="urlAddress"
    (onChangeInput)="onChangedInput($event, 'urlAddress')"
  ></app-input>

    <mat-form-field *ngIf="!isCategoryNew" appearance="fill">
      <mat-label>Category</mat-label>
      <mat-select [(value)]="selectedCategory">
        <mat-option
          *ngFor="let option of mockCategories"
          [value]="option.value"
        >
          {{ option.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div *ngIf="isCategoryNew">
      <app-input
        inputTitle="Category"
        [currentValue]="selectedCategory"
        (onChangeInput)="onChangedInput($event, 'selectedCategory')"
      ></app-input>
    </div>

    <button class="button" mat-button (click)="addNewCategory()">
      {{ isCategoryNew ? "Add existing category" : "Add new category" }}
    </button>

    <app-input
      inputTitle="Description"
      [currentValue]="description"
      (onChangeInput)="onChangedInput($event, 'description')"
    ></app-input>

    <app-input
      inputTitle="Price, $"
      [currentValue]="price"
      (onChangeInput)="onChangedInput($event, 'price')"
    ></app-input>

    <p class="errorText" *ngIf="dataError">The entered data is wrong</p>
  </div>
  <div>
    <h1>Offer View:</h1>
    <mat-card class="offerCard">
      <div class="nameText">{{ title || "unknown" | uppercase }}</div>
      <div class="imageWrapper">
        <img class="bookImage" [src]="urlAddress" />
      </div>
      <div class="descriptionText">
        Category: {{ selectedCategory || "unknown" }}
      </div>
      <div class="descriptionText marginVertical">
        {{ description || "unknown" }}
      </div>
      <div class="marginVertical">
        Price: ${{ price | replaceComma | roundNum: 2 || "unknown" }}
      </div>
      <div class="rowedBtn">
        <button class="marginRight" mat-stroked-button>Update Offer</button>
        <button mat-stroked-button>Delete Offer</button>
      </div>
    </mat-card>
  </div>
</div>
<div mat-dialog-actions class="buttonContainer">
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button (click)="onUpdate()">Update</button>
</div>
