<div class="centeredHtml">
  <div class="loginContainer">
    <h1>Sign in</h1>
    <form>
      <mat-form-field class="fullElem">
        <mat-label>Email</mat-label>
        <input
          name="email"
          [(formControl)]="userEmail"
          [errorStateMatcher]="matcher"
          placeholder="Ex. pat@example.com"
          matInput
          value=""
        />
        <mat-error
          *ngIf="userEmail.hasError('email') && !userEmail.hasError('required')"
        >
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="userEmail.hasError('required')">
          Email is required
        </mat-error>
      </mat-form-field>
      <br />
      <mat-form-field class="fullElem">
        <mat-label>Password</mat-label>
        <input
          [(ngModel)]="userPassword"
          [type]="inputType"
          name="password"
          matInput
          value=""
        />
        <button
          mat-button
          *ngIf="userPassword"
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="showPassword()"
        >
          <mat-icon aria-hidden="false" aria-label="icon">remove_red_eye</mat-icon>
        </button>
      </mat-form-field>
    </form>
    <p class="loginError" *ngIf="loginError.length">{{ loginError }}</p>
    <button class="fullElem registBut" mat-stroked-button (click)="submit()">
      Submit
    </button>
  </div>
  <div class="signUpContainer">
    <p>Don't have an account?</p>
    <button
      class="fullElem registBut"
      mat-stroked-button
      (click)="createAccount()"
    >
      Create account
    </button>
  </div>
</div>
