<div class="ordersContainer">
  <h1>Your Orders</h1>
  <div *ngIf="loading" class="uploader-status">
    <mat-progress-spinner
      class="spinner"
      diameter="50"
      mode="indeterminate"
    ></mat-progress-spinner>
  </div>
  <p *ngIf="orders.length < 1 && !loading">No available orders</p>
  <div class="ordersView" *ngIf="!loading">
    <div
      (click)="openDetails(item)"
      class="orderView"
      *ngFor="let item of orders"
    >
      <div>
        <p>{{ getItemNames(item) }}</p>
        <p>TOTAL PRICE: ${{ getTotalPrice(item) | roundNum: 2 }}</p>
      </div>
      <span
        *ngIf="item.orderStatus === 'IN_PROCESS'"
        class="status inProcess"
        >{{ item.orderStatus }}</span
      >
      <span *ngIf="item.orderStatus === 'CONFIRMED'" class="status confirmed">{{
        item.orderStatus
      }}</span>
      <span *ngIf="item.orderStatus === 'CANCELED'" class="status cancelled">{{
        item.orderStatus
      }}</span>
      <span *ngIf="item.orderStatus === 'DELIVERED'" class="status delivered">{{
        item.orderStatus
      }}</span>
    </div>
  </div>
  <div>
    <button mat-stroked-button (click)="backHome()">Back Home</button>
  </div>
</div>
