.ordersContainer{
    padding: 20px;
    text-align: center;
}

.orderItem{
    border: solid 1px rgb(216, 215, 215);
    border-radius: 5px;
    margin: 10px;
    list-style-type: none;
    padding: 10px 15px;
    display: inline-block;
    width: 260px;
    cursor: pointer;
    transition: transform 0.5s; 
    background-color: white;
}

.orderItem:hover { transform: scale(1.2); }

.itemContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.orderList{
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}

.status{
    margin: 0;
    padding: 5px 10px;
    border-radius: 15px;
    /* background-color: greenyellow; */
    color: white;
    font-size: 12px;
}

.inProcess{
    background-color: rgb(245, 150, 42);
}

.confirmed{
    background-color: rgb(41, 231, 73);
}

.cancelled{
    background-color: rgb(235, 68, 38);
}

.delivered{
    background-color: rgb(38, 130, 235);
}