.signUpContainer {
  padding: 40px 60px;
  text-align: center;
  border: solid 1px rgb(207, 207, 207);
  border-radius: 10px;
  width: 350px;
  margin-top: 20px;
  box-sizing: border-box;
}

h1,
p {
  padding: 0;
  margin: 0;
}

.loginContainer {
  padding: 20px 60px;
  text-align: center;
  border: solid 1px rgb(207, 207, 207);
  border-radius: 10px;
  width: 350px;
  margin-top: 20px;
  box-sizing: border-box;
}

.fullElem {
  width: 100%;
}

.loginBut {
  margin-top: 15px;
}

.centeredHtml {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.signUpError {
  color: red;
  font-size: 13px;
  margin-bottom: 15px;
}

.registTitle {
  font-size: 27px;
}

.askText {
  font-size: 15px;
}
