.ownInput {
  border-bottom: solid 1px rgb(196, 196, 196);
  margin-bottom: 10px;
}

.ownSelect {
  display: block;
  margin-bottom: 10px;
}

.button {
  border: solid 1px rgb(216, 215, 215);
  border-radius: 5px;
  padding: 5px 10px;
  display: block;
  margin-bottom: 10px;
}

.errorText {
  margin-bottom: 25px;
  color: red;
}

.imageWrapper {
  margin: 10px auto;
  height: 150px;
  width: 200px;
  padding: 5px;
  background: white;
}

.bookImage {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

p {
  margin: 0;
  padding: 0;
}

.fieldContainer {
  display: block;
}

.rowed {
  display: flex;
  justify-content: center;
  /* margin-bottom: 20px; */
}

.offerCard {
  width: 300px;
  margin: 10px;
}
.nameText {
  text-align: center;
  font-size: 20px;
}
.descriptionText {
  text-align: start;
  font-size: 13px;
  color: gray;
}
.rowedBtn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.marginRight {
  margin-right: 10px;
}

.marginVertical{
  margin: 15px 0px;
}

.spinBtm{
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  display: inline-block;
  /* margin-left: 5px; */
}

.uploader-status ::ng-deep .mat-progress-spinner circle,
.mat-spinner circle {
  stroke: lightblue;
}

::ng-deep .mat-card {
  font-family: "Nunito", sans-serif !important;
  box-shadow: 0 0 10px rgb(0 0 0 / 20%) !important;
}

::ng-deep .mat-form-field {
  font-family: "Nunito", sans-serif !important;
}

::ng-deep .mat-option {
  font-family: "Nunito", sans-serif !important;
}

::ng-deep .mat-select-value {
  font-family: "Nunito", sans-serif !important;
}
